.banner {
  background: url("../IMG/banner-image.png") no-repeat;
  width: 100%;
  min-width: 1136px;
  height: 352px;
  margin: 0 auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding-bottom: 32px; */
}
.banner-promo {
  padding-bottom: 16px;
}
.banner-titulo {
  font-family: var(--font-family);
  font-size: 4rem;
  color: #ffffff;
  font-weight: 700;
  margin: 16px 0px;
}
.banner-subtitulo {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  /* line-height: 2rem; */
  margin: 16px 0px;
}

