.menu-principal {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px;
}
.logo-buscador {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 176px;
  height: 71px;
  background: url("../IMG/Logo.png") no-repeat;
  background-position: center;
  
}
.buscador {
  height: 40px;
  width: calc(100% - 200px);
  background: var(--color-gris-claro);
  border-radius: 20px;
  color: #a2a2a2;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  padding-left: 12px;
}
.lupa {
  width: 20px;
  margin-left: -70px;
  opacity: 0.5;
}
.btn-inicio {
  width: 182px;
  height: 51px;
  border: 1px solid var(--color-azul);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
}
.btn-inicio a {
  color: var(--color-azul);
  text-decoration: none;
}
