.galeria-secc {
  height: 100%;
}
.galeria-secc-titulo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  /* margin-top: 64px; */
}
.galeria-producto {
  width: 176px;
}
.galeria-secc-titulo_nombre {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-gris);
}
.galeria-secc-titulo_verTodo a {
  color: var(--color-azul);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.galeria-secc-contenido {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.producto-titulo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-gris);
  margin: 8px 0;
}
.producto-subtitulo,
.producto-link {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-gris);
  margin: 8px 0;
}
.producto-link a {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-azul);
  margin: 8px 0;
  text-decoration: none;
}
