.rodapie {
  width: 100%;
  background: #eaf2fd;
  display: flex;
  padding: 64px 0;
}
.rodapie-interno {
  display: flex;
  justify-content: space-between;
}
.rodapie-navegacion-lista {
  list-style: none;
}
.rodapie-navegacion-item {
  margin: 24px 0px;
}
.rodapie-navegacion-item a {
  color: var(--color-gris);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.rodapie-formulario {
  width: 560px;
}

